@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');


.HomeLogo{
    height: 40rem;
}

.HomeContent{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    font-family: 'Roboto Mono', monospace;
    /* background-color: rgb(55, 68, 143); */
    
}

.Button-badges{
    margin-bottom: 90%;
}